@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Chakra+Petch:wght@300;400;500;600;700&family=Fira+Code:wght@300&display=swap');
body{
    font-family: 'Cairo', sans-serif;
}

div.col{
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    color: #fff;
    font-weight: 700;
    border: 1px solid;
    padding: 0 !important;
}
.container.bg-light{
    background-color:coral !important;
    height: 100%;
    padding: 0 !important;
}

.bg-light ~ .col {
    height: 250px;   
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    color: #fff;
    font-weight: 700;
    border: 1px solid; 
}
